<div class="body">
  
    <!-- <label>Is Active :</label>
    <input type="checkbox" [(ngModel)]="isActive" class="form-check-input" value="" style="margin-left: 10%;"> -->
    <br>
       <div class="form-group">
          <label>Title </label>
          <input type="text" class="form-control" placeholder="Add Title" [(ngModel)]="title">
          </div> 
      <label>Content </label> 
     <textarea class="form-control" [(ngModel)]="content"></textarea>
      <br>
  
      <button type="button" class="btn btn-primary" id="design_details" (click)="submit()">SAVE</button>
  
  </div>
  