
<div  class="container instructionDiv" *ngIf="show">
  <div class="row">
    <div class="col-md-12">
      <h2>My <span>PAPER</span> Instructions</h2>
      <!-- <h3>{{examDetails?.title}}</h3> -->
      <div class="totalUser">
        <button routerLink="/assessment/dashboard/" class="btn float-left btnLeaderboard"><i class="fas fa-angle-double-left mr-1"></i>Dashboard</button>
        <div><span><a class="card-link cardLinkFirst " routerLink="/assessment/dashboard/choose-p/{{examDetails?.id}}"><b>{{examDetails?.title}}</b></a></span></div>
        <div><span style="color: #F3F3F3;">total user : 100</span></div>
    </div>
    </div>
    
    <div class="col-md-12"><hr></div>
        
  </div>
  <div class="row ">
    <div class="col-md-12 instructionDetails">
      <div *ngFor="let instruction of instructions">
        <h5 class="instructionData"  [innerHtml]="instruction.instruction"></h5>
      </div>
    </div>
  </div>
  <div class="row imageInstructionDiv">
    <div class="col-xl-6 ">
      <div class="row ">
        <div class="col-md-12 squareDiv">
          <div class="squareOne"></div>
          <div><h6>You have answered the question. <span style="color: transparent;">you have answered</span></h6></div>
        </div>
        <div class="col-md-12 squareDiv">
          <div class="squareTwo"></div>
          <div><h6>You have visited but not answered the question yet.</h6></div>
        </div>
        <div class="col-md-12 squareDiv">
          <div class="squareThree"><i class="fa fa-check" aria-hidden="true"></i></div>
          <div><h6>You have not answered the question but have marked for review.</h6></div>
        </div>
        <div class="col-md-12 squareDiv">
          <div class="squareFour"><i class="fa fa-bookmark" aria-hidden="true"></i><i class="fa fa-check" aria-hidden="true"></i></div>
          <div><h6>You have answered the question but have marked for review.</h6></div>
        </div>
        <div class="col-md-12 squareDiv">
          <div class="squareFive"></div>
          <div><h6>You have not visited the question yet.</h6></div>
        </div>
        
      </div>
    </div>
    <div class="col-xl-6 imageDiv">
      <img class="instructionImage" src="assets/instructions.png" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 d-flex buttonsDiv">
      
      <div>
        <a class=" start btn"
      routerLink="/assessment/paper/my-paper/{{examId}}" [queryParams]="{paper: paperId}">
     Start <span><i class="fa fa-paper-plane-o" aria-hidden="true"></i></span>
   </a>
      </div>
       <div>
        <!-- <a href="https://api.whatsapp.com/send?text=https://makemypath.app/assessment/dashboard/respond-paper-request/{{examId}}?paper={{paperId}} | %0D%0A%0D%0A*Hi I'm inviting you to accept the exam paper created by me*" target="_blank" class="share"><img src="assets/share.png" alt=""><span>Share</span></a> -->
        <span class="share" (click)="clickEvent()">Share <span><i class="fa fa-share-alt" aria-hidden="true"></i></span></span>
        <div class="media-icons" [ngClass]="status ? 'show' : 'hide'">
          <a (click)="clickEvent()" href="https://www.facebook.com/sharer/sharer.php?u=https://makemypath.app/assessment/dashboard/respond-paper-request/{{examId}}?paper={{paperId}}&quote=Hi, I am inviting you to attempt this PAPER.&hashtag=%23MMP" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a (click)="clickEvent()" href="https://api.whatsapp.com/send?text=https://makemypath.app/assessment/dashboard/respond-paper-request/{{examId}}?paper={{paperId}} | %0D%0A%0D%0A*Hi, I am inviting you to attempt this PAPER.*" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
          <a href="https://instagram.com/accounts/login/?" (click)="shareinstaUrl(examId, paperId)"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="mailto:?subject=&body=:%20" (click)="sharemailUrl(examId, paperId)"><i class="fa fa-envelope" aria-hidden="true"></i></a>
        </div>
      </div> 
      <!-- <div>
        <div class="mainbox">
            <input style="pointer-events: inherit;" type="checkbox" class="check" id="check{{paper?.id}}">
            <label for="check{{paper?.id}}"><img src="assets/share.png" alt=""></label>
            <div class="media-icons">
              <a href="https://www.facebook.com/sharer/sharer.php?u=https://makemypath.app/assessment/dashboard/respond-paper-request/{{paper?.learner_exam?.exam?.id}}?paper={{paper?.id}}&quote=Hi I'm inviting you to accept the exam paper created by me&hashtag=%23MMP" target="_blank"><i class="fab fa-facebook"></i></a>
              <a href="https://api.whatsapp.com/send?text=https://makemypath.app/assessment/dashboard/respond-paper-request/{{paper?.learner_exam?.exam?.id}}?paper={{paper?.id}} | %0D%0A%0D%0A*Hi I'm inviting you to accept the exam paper created by me*" target="_blank"><i class="fab fa-whatsapp"></i></a>
              <a href="https://instagram.com/accounts/login/?" (click)="shareinstaUrl(paper?.learner_exam?.exam?.id, paper?.id)"><i class="fab fa-instagram"></i></a>
              <a href="mailto:?subject=&body=:%20" (click)="sharemailUrl(paper?.learner_exam?.exam?.id, paper?.id)"><i class="fas fa-envelope"></i></a>
            </div>
        </div> -->
        <!-- <button class="btn ShareButton btn-sm" data-toggle="modal" data-target="#exampleModal">Share</button> -->
        <!-- <a class="btn ShareButton btn-sm" href="https://api.whatsapp.com/send?text=https://devmakemypaper.aptence.com/assessment/dashboard/respond-paper-request/{{paper?.learner_exam?.exam?.id}}?paper={{paper?.id}} | %0D%0A%0D%0A*Hi I'm inviting you to accept the exam paper created by me*" target="_blank">Share</a> -->
    <!-- </div> -->
      
    </div>
  </div>
</div>



<div *ngIf="efgh" class="spinnerContainer">
  <h2>{{examDetails?.title}}</h2>
  <h3 >Fetching your question paper....</h3>
  <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>