<div class="modal-content" *ngIf="!isOTPSent">
  <div class="modal-header border-0">
    <h5 class="modal-title text-black" id="loginTitle">Enter email or Phone number to reset your password</h5>
    <button type="button" class="close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="forgotPasswordForm" (submit)="sendOTP()">

      <div class="form-group mb-1">
        <input type="email" class="form-control" placeholder="Email or Phone number" formControlName="email"
               [ngClass]="{ 'is-invalid': forgotPasswordSubmitted && f_p.email.errors }" (input)="onInput()">

        <div *ngIf="forgotPasswordSubmitted && f_p.email.errors" class="invalid-feedback">
          <div *ngIf="f_p.email.errors.required">Email or Phone number is required</div>
        </div>
      </div>

      <div *ngIf="errors">
        <ul class="list-unstyled">
          <li class="error-text">{{errors}}</li>
        </ul>
      </div>
      <div class="text-right mt-4">
        <button type="submit" class="btn btn-info">Send OTP</button>
      </div>
    </form>
  </div>
</div>


<ng-template #changePasswordModal>

  <div class="modal-content">
    <div class="modal-header border-0">
      <h5 class="modal-title" id="loginTitle">Reset your password</h5>
      <button type="button" class="close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="changePasswordForm" (submit)="changePasswordSubmit()">

        <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter OTP" formControlName="otp" maxlength="6"
                 [ngClass]="{ 'is-invalid': changePasswordSubmitted && c_p.otp.errors }" (input)="onInput()">

          <div *ngIf="changePasswordSubmitted && c_p.otp.errors" class="invalid-feedback">
            <div *ngIf="c_p.otp.errors.required">OTP is required</div>
          </div>

        </div>

        <div class="form-group">

          <input type="password" class="form-control" placeholder="Enter New Password" formControlName="password"
                 [ngClass]="{ 'is-invalid': changePasswordSubmitted && c_p.password.errors }" (input)="onInput()">

          <div *ngIf="changePasswordSubmitted && c_p.password.errors" class="invalid-feedback">
            <div *ngIf="c_p.password.errors.required">Password is required</div>
            <div *ngIf="c_p.password.errors.minlength">Password must contain atleast 8 character</div>
          </div>

        </div>

        <div *ngIf="errors">
          <ul class="list-unstyled">
            <li class="error-text">{{errors}}</li>
          </ul>
        </div>
        <div class="text-right d-flex">
          <button type="submit" class="btn btn-success w-25" [disabled]="loaderActive">
            <img *ngIf="loaderActive" class="mr-2" style="width: 2rem; height: 2rem"
                 src="{{env.static}}/images/gif/short-loader.gif"
                 alt="loader">
            <span *ngIf="!loaderActive">Submit</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
