.home-nav {
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    background: white;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15) !important
}

.nav-scroll {
    background-color: white;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    transition: all 0.6s ease;

    .navbar-brand {
        color: white !important;
    }
}

.navbar-brand {
    img {
        width: 12rem;
    }
}

.nav-item {
    padding: 0 1rem;
}

.navbar-nav .nav-item .nav-link {
    color: #464646;
    font-size: 1.2rem;
}

.nav-scroll .navbar-nav .nav-item .nav-link {
    color: #464646 !important;
    font-size: 1.2rem;
}

.dropdown-item {
    text-transform: uppercase;
}

.item-count {
    height: 1.2rem;
    width: 1.2rem;
    background: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: .5rem;
    font-size: 60%;
    right: 1rem;
}

/* **** Login Button **** */
.login-btn {
    font-size: 1rem !important;
    padding: .5rem 2rem !important;
    color: white !important;
}

.logout-btn {
    font-size: 1rem !important;
    padding: .5rem 2rem !important;
    color: #495057;
    border-color: #495057;
    background-color: white;
}

/* **** Resources **** */
.resource-dropdown {
    padding: 1rem;
    width: 14rem;

    .dropdown-item {
        padding: 0 1rem;
    }
}

@media screen and (max-width: 1366px) {

    /* insert styles here */
    .navbar-nav .nav-item .nav-link {
        color: #464646;
        font-size: .9rem;
    }

    .navbar {
        padding: 0 1rem;
    }

    .navbar-brand {
        img {
            width: 8rem;
        }
    }

    .navbar-nav {
        display: flex;
        align-items: center;
    }

    .fa-shopping-cart {
        font-size: 1.2rem;
    }

    .logout-btn,
    .login-btn {
        font-size: .8rem !important;
        padding: 0.4rem 1.5rem;
    }
}


@media (max-width: 768px) {
    .navbar {
        padding: 1rem;
    }

    .navbar-nav {
        .dropdown-menu {
            position: absolute;
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
        }
    }

    .item-count {
        left: -.5rem;
    }
}