.card{
    margin:25px;
    box-shadow: 0 0 30px rgba(33,33,33,.2); 

}

#design_details{
    font-size:x-small;
    margin: 10px 0 10px 20px;
    padding: 7px 20px 7px 20px;
}

#click{
    background: rgb(18, 182, 86);
    color:white;
    font-size:x-small;
    margin: 10px 0 10px 0;
    padding: 7px 20px 7px 20px;
}

#file{
    margin:20px 0 0 10px;
}

#design_details1{
    font-size:small;
    margin: 10px 0 10px 20px;
    padding: 10px 25px 10px 25px;
}