<div class="contactUsContainer container">
    <h2 class="pt-3 text-center topHeading"> Contact Us
    </h2>
    <div class="row">
        <div class="col-md-12">
            <button routerLink="/organization" class="btn float-left btnLeaderboard"><i
                    class="fas fa-angle-double-left mr-1"></i>Dashboard</button>
        </div>
        <div class="col-md-12">
            <hr>
        </div>
    </div>
    <div class="row topRow">
        <div class="col-lg-4 col-md-12">
            <div class="row contactDetailsRow">
                <div class="col-lg-12 col-md-6">
                    <div class="card studentCard">
                        <div class="supportDiv">
                            <div class="headsetDiv">
                                <img src="assets/images/TechnicalSupport.png" alt="">
                            </div>
                            <div class="contentDiv">
                                <div><h2>Student Helpline</h2></div>
                                <div><h4><a href="mailto:support@makemypath.app">support@makemypath.app</a></h4></div>
                                <div><h4><a href="tel:+4733378901">945 089 6127</a></h4></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-6">
                    <div class="card businessCard">
                        <div class="supportDiv">
                            <div class="briefcaseDiv">
                                <img src="assets/images/email.png" alt="">
                            </div>
                            <div>
                                <div><h2>Business Enquiry</h2></div>
                                <div><h4 class="text-center"><a href="mailto:contact@makemypath.app">contact@makemypath.app</a></h4></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-6">
                    <div class="card businessCard">
                        <div class="supportDiv">
                            <div class="locationDiv">
                                <img src="assets/images/PlaceMarker.png" alt="">
                            </div>
                            <div>
                                <div><h2>Yontech Solutions Pvt. Ltd.</h2></div>
                                <div>
                                    <h4>CP 16/105, Second Floor, Royal Plaza</h4>
                                </div>
                                <div>
                                    <h4>Near Munshi Pulia Petrol Pump,</h4>
                                </div>
                                <div>
                                    <h4>Indira Nagar, Lucknow-226016</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-12 offset-md-1 formSection">
            <!-- <form *ngIf="isAuthenticated" action="" [formGroup]="contactUsForm" (submit)="onSubmit()">
                <input class="form-control form-control-lg" type="text" formControlName="username" readonly>
                <input class="form-control form-control-lg" type="text" formControlName="phonenumber" readonly>
                <input class="form-control form-control-lg" type="text" formControlName="email" readonly>
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
                <textarea class="form-control form-control-lg" placeholder="Your Message"
                    formControlName="message"></textarea>
                <button class="btn btnSubmit" type="submit">Send Message</button>
                <div>
                    <p class="error-text" [ngClass]="{'text-success': feedback.message, 'text-danger':feedback.errors}"
                        *ngIf="feedback.message || feedback.errors">
                        {{feedback.message ? feedback.message : feedback.errors}}</p>
                </div>
            </form>

            <form *ngIf="!isAuthenticated" action="" [formGroup]="contactUsForm" (submit)="onSubmit()">
                <input class="form-control form-control-lg" type="text" placeholder="Name" formControlName="username">
                <input class="form-control form-control-lg" type="text" placeholder="Contact No."
                    formControlName="phonenumber">
                <input class="form-control form-control-lg" type="text" placeholder="Email" formControlName="email">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
                <textarea class="form-control form-control-lg" placeholder="Your Message"
                    formControlName="message"></textarea>
                <button class="btn btnSubmit" type="submit">Send Message</button>
                <div>
                    <p class="error-text" [ngClass]="{'text-success': feedback.message, 'text-danger':feedback.errors}"
                        *ngIf="feedback.message || feedback.errors">
                        {{feedback.message ? feedback.message : feedback.errors}}</p>
                </div>
            </form> -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3558.558646399861!2d80.99050861436518!3d26.88576011772364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399959d62a1c3ec1%3A0x411b62309ba3f09!2sYONTECH%20SOLUTIONS%20PRIVATE%20LIMITED!5e0!3m2!1sen!2sin!4v1647949789078!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>