<h1 style="text-align: center;"><b>{{examDetails?.title}}</b></h1>
    <table class="table table-bordered">
        <tbody>
            <tr>
            <td>
               Avg. Time Per Ques.:
            </td>
            <td>
                <input type="text"  #subject1="ngModel" [(ngModel)]="marks">
            </td>
            </tr>
        </tbody>
    </table>
    <button (click)="submit()" type="button" class="btn btn-primary" id="std">SAVE</button>
    <table class="table table-bordered">
        <tbody>
            <tr>
            <td>
               Total Students (Excluding actual count):
            </td>
            <td>
                <input type="text" [(ngModel)]="totalStudents"> + <b>{{realUsers}}</b> (Actual) = <b>{{totalusers}}</b>
            </td>
            </tr>
        </tbody>
    </table>
    <button (click)="submitCount()" type="button" class="btn btn-primary" id="std">SAVE</button>