<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center mt-3">My <span>Papers</span></h2>
        </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12"><p *ngIf="myPapers?.length == 0"><b class="text-danger">No Exams Found for you account</b></p></div>
        <div class="col-md-6" *ngFor="let paper of myPapers">
            <div class="col-md-12">
                <div class="card myPaper">
                  <div class="card-body">
                    <h3 class="card-title"><a href="javascript:void(0)" routerLink="/assessment/paper/test-instructions/{{paper?.learner_exam?.exam?.id}}" [queryParams]="{paper: paper?.id}">Test Type: <span>{{paper?.paper_type}}</span></a></h3>
                    <h4 class="card-subtitle mb-2 text-muted"><a href="javascript:void(0)" routerLink="/assessment/paper/test-instructions/{{paper?.learner_exam?.exam?.id}}" [queryParams]="{paper: paper?.id}">Exam : <span>{{paper?.learner_exam?.exam?.title}} </span></a></h4>
                    <!-- <h4 class="card-subtitle mb-2 text-muted">Type : <span>{{paper?.paper_type}} </span></h4> -->
                    <h5 class="card-subtitle mb-2 text-muted mt-2">Date : <span>{{paper?.created_at | date}}, {{paper?.created_at | date:'h:mm a'}}</span></h5>
                    <!-- <a href="javascript:void(0)" class="card-link btn  btn-success btn-sm mt-2" routerLink="/assessment/paper/exam-questions/{{paper?.learner_exam?.domain?.id}}/{{paper?.learner_exam?.exam?.id}}" [queryParams]="{paper: paper?.id}">View Questions</a> -->
                    <a href="javascript:void(0)" class="card-link btn  btn-success btn-sm mt-2" (click)="reattempt(paper?.learner_exam?.exam?.id, paper?.id)">Reattempt</a>
                    <a href="javascript:void(0)" class="card-link btn  btn-primary btn-sm mt-2"  routerLink="/assessment/dashboard/report/{{paper?.paper_type}}/{{paper?.id}}/1">Report</a>
                    <a href="https://api.whatsapp.com/send?text=https://makemypath.app/assessment/dashboard/respond-paper-request/{{paper?.learner_exam?.exam?.id}}?paper={{paper?.id}} | %0D%0A%0D%0A*Hi I'm inviting you to accept the exam paper created by me*" class="card-link btn btnShare btn-sm mt-2" target="_blank">Share</a>
                    <!-- routerLink="/assessment/dashboard/respond-paper-request/{{paper?.learner_exam?.exam?.id}}" [queryParams]="{paper: paper?.id}" -->
                   
                  </div>
                </div>
              </div>
        </div>
       
    </div>
    <section *ngIf="myPapers?.length > 0" class="blogPageFold3 pb-5 mt-4 pt-2">
        <div class="container text-center">
            <nav aria-label="navigation">
                <ul *ngIf="myPapers" class="pagination justify-content-center">
                    <li [ngClass]="{disabled:currentPage == 1 }" class="page-item disabled">
                        <button (click)="goToPage(1)" class="page-link btn btn-link">First</button>
                    </li>
                    <li [ngClass]="{disabled:currentPage == 1 }" class="page-item previous-item">
                        <button (click)="goToPage(currentPage - 1)" class="page-link btn btn-link">Prev</button>
                    </li>

                    <li *ngFor="let page of pages | slice:startPage:endPage; let i = index" class="page-item number-item">
                        <button (click)="goToPage(startPage + i)" class="page-link btn btn-link" [ngClass]="{active: currentPage == i + startPage}">{{i+ startPage }}</button>
                    </li>

                    <li *ngIf="currentPage > 0 && max_page > 0" class="page-item number-item">
                        <button (click)="goToPage(endPage)" class="page-link btn btn-link" [ngClass]="{active: currentPage == endPage}">{{ endPage }}</button>
                    </li>

                    <li [ngClass]="{disabled:currentPage == max_page || max_page == 1 }" class="page-item next-item">
                        <button (click)="goToPage(currentPage - (-1))" class="page-link btn btn-link">Next</button>
                    </li>
                    <li [ngClass]="{disabled:currentPage == max_page || max_page == 1}" class="page-item last-item">
                        <button (click)="goToPage(max_page)" class="page-link btn btn-link">Last</button>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
</div>