.updatePassword {
    min-height: 100vh;
    padding-top: 17px;
    padding-bottom: 10px;
    h2{
        color: #000000;
        font-size: 3em;
        font-weight: 600;
        margin-bottom: 5px;
        font-family: 'Jaldi', sans-serif;
        text-align: center;
        span{
          color: #007bba;
          font-weight: 700;
        }
      }
      hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 2px solid #ffffff;
        margin: 0 0 1em 0;
        padding: 0;
    }
      .btnSave{
        background-color: #007cbb;
        font-size: 1em;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.5em;
        letter-spacing: 3.2px;
        color: #ffffff;
        height: 45px;
        border-radius: 50px;
        box-shadow: 0px 2px 0px 0px #ff4935;
        padding: 0px 20px;
    }
    .btnSave:hover{
        color: #ffffff;
        background-color: #ff4935;
    }
      .col-form-label{
        color: black;
    }
      .form-control {
        // border: 0.06rem solid #e6e7e8;
        border-radius: .2rem;
        margin-top: -.5rem;
        color: black;
        border: 5px solid #007cbb;
        border-top: none;
        border-bottom: none;
        border-right: none;
        height: 50px;
    }
    
    ::-webkit-input-placeholder {
        text-align: center;
        color: #DCDCDC;
     }
     
     :-moz-placeholder { /* Firefox 18- */
        text-align: center;
        color: #DCDCDC;  
     }
     
     ::-moz-placeholder {  /* Firefox 19+ */
        text-align: center;
        color: #DCDCDC;  
     }
     
     :-ms-input-placeholder {  
        text-align: center;
        color: #DCDCDC; 
     }
     .btnLeaderboard {
        padding: 0;
        font-family: "jaldi", Sans-serif;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        color: #007bba;
        background-color: rgba(0,0,0,0);
      }
}

@media screen and (max-width: 768px) {
    .updatePassword {
        h2 {
            font-size: 2em;
        }
    }
}