::ng-deep ngb-typeahead-window.dropdown-menu {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  right: 0;
  width: calc(100% - 40%);
  transform: translate(50%, 71px) !important;
  max-height: 80vh;
  overflow-y: auto;
}
::ng-deep .dropdown-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar {
  background-color: #FFFFFF;
  z-index: 10;
  padding: 1rem 3rem;
  .inactiveLink {
    pointer-events: none;
    cursor: default;
 }
  .searchExamMobile{
    display: none;
  }
  // .registerDropdown{
  //   display: none;
  // }
.navbar-collapse{
  display: flex;
  flex-basis: auto;
}
  .fa {
    font-size: 1.5rem;
    color: #9e9e9e;
  }
  
.has-search .form-control {
  padding-left: 2.375rem;
}

// .has-search .form-control-feedback {
//   position: absolute;
//   z-index: 2;
//   display: block;
//   width: 2.375rem;
//   height: 2.375rem;
//   line-height: 2.375rem;
//   text-align: center;
//   pointer-events: none;
//   color: #aaa;
// }
}
.orDiv {
  h6 {
    font-family: 'jaldi', sans-serif;
    font-weight: bold;
    margin: 10px 0;
    font-size: 20px;
  }
}
.mobileDropdown {
  display: none !important;
}
*:focus {
  outline: none !important;
}
.navbar-nav{
  align-items: center;
}

.searchExams{
  input{
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-right: 10px;
  }
}
.shortNamedd{
  padding-bottom: 0;
 .user-img{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid #C4C4C4;
 }
}

.dropdown-menu{
  font-family: 'jaldi', sans-serif;
  position: absolute;
  top: 3.5em;
  label{
    font-weight: bold;
    color: #727270;
  }
}
.dropdown-toggle::after {
  display:none;
}
.fa-search{
  font-size: 18px !important;
}
// .searchInput{
//   border-radius: 20px 0px 0px 20px;
// }
// .input-group-append{
//   span{
//     background-color: #0487DF;
//     border-radius: 0px 20px 20px 0px;
//     i{
//       color: #FFFFFF;
//     }
//   }
// }
.navbar-brand{
  img{
    width: 9rem;
  }
}
// .item-count {
//   height: 1.2rem;
//   width: 1.2rem;
//   background: #4CAF50;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   border-radius: 50%;
//   color: white;
//   position: absolute;
//   top: 0;
//   font-size: 80%;
//   right: 1.4rem;
// }

// .notification-dropdown {
//   box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
//   min-width: 20rem;
//   background-color: #fff7e0;
// }

.searchExamModal{
  .modal-title{
    font-family: 'jaldi', sans-serif;
    font-weight: bold;
    font-size: 25px;
  }
  input{
    border: 1px solid #0487DF;
    margin-bottom: 10px;
  }
}

.loginGuest{
  font-family: "jaldi", Sans-serif;
  font-size: 1em;
  letter-spacing: 3.2px;
  transition: all 0.3s;
  color: #FFFFFF;
  background-color: #007cbb;
  border-radius: 5px;
  width: 100px;
  justify-content: center;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
}
.loginGuest:hover{
  background-color: #ff4935;
}
// .registerGuest{
//   font-family: "jaldi", Sans-serif;
//   font-size: 1em;
//   letter-spacing: 3.2px;
//   transition: all 0.3s;
//   color: #FFFFFF;
//   background-color: #e23552;
//   border-radius: 5px;
//   width: 100px;
//   justify-content: center;
//   text-align: center;
//   margin-right: 10px;
// }
// .registerGuest:hover{
//   background-color: #007cbb;
// }
@media screen and (max-width: 1366px) {
  .navbar {
    padding: 1rem 3rem;
  }
}

@media (max-width: 992px) {
  .navbar {
    flex-wrap: nowrap;
    padding: 1.1rem 2rem;
  }

  .navbar-nav {
    flex-direction: row;
    justify-content: flex-end;

    .nav-item {
      margin-left: 1rem;
    }
  }

  .navbar-nav .dropdown-menu {
    position: absolute;
  }

  // .item-count {
  //   left: -.5rem;
  // }

  // .notification-dropdown {
  //   min-width: 18rem;
  // }
  // .navDesktop{
  //   display: none;
  // }
}
@media (max-width: 760px){
  .navbar{
    flex-wrap: nowrap;
    padding: 1.5rem 2rem;
  }
}
@media screen and (max-width: 580px){
  .navbar {
    flex-wrap: wrap;
    padding: 1.5rem 1rem;
  }

  .navbar-nav {
    flex-direction: row;
    justify-content: flex-start;

    .nav-item {
      margin-left: 1rem;
    }
  }
}

@media screen and (max-width: 767px){
  .navbar{
    .searchExamMobile{
      display: block;
    }
    .searchExams{
      input{
        display: none;
      }
      .search-icon{
        display: none;
      }
    }
  }
}
.switchAccount {
  font-family: 'jaldi', Sans-serif;
  font-size: 15px;
  line-height: 15px;
  font-weight: 700;
  letter-spacing: 3.2px;
  padding: 9px 15px;
  transition: all 0.3s;
  color: #007cbb;
  border-radius: 7px;
  box-shadow: 0px 2px 0px 0px #e23522;
  text-transform: uppercase;
  background-color: #FFFFFF;
  border: 1px solid #007cbb;
  border-bottom: none;
}
.switchAccountOne{
  font-family: 'jaldi', Sans-serif;
  font-size: 15px;
  line-height: 15px;
  font-weight: 700;
  letter-spacing: 3.2px;
  padding: 9px 15px;
  transition: all 0.3s;
  color: #e23522;
  border-radius: 7px;
  box-shadow: 0px 2px 0px 0px #007cbb;
  text-transform: uppercase;
  background-color: #FFFFFF;
  border: 1px solid #e23522;
  border-bottom: none;
  margin-right: 50px;
}
.activeBooks {
    fill: #ffffff;
    color: #ffffff;
    background-color: #007cbb;
}
.activeBooksOne {
  fill: #ffffff;
  color: #ffffff;
  background-color: #e23522;
}
.loginModal {
  .btn {
    text-align: center;
    color: white;
    width: 150px;
    border-radius: 0px;
    font-family: 'jaldi', sans-serif;
  }
  .modal-body {
    padding: 0;
  }
  .studentBg {
    background-color: #007cbb;
  }
  .mentorBg {
    background-color: #e23522;
  }
  .signUpContentSection {
    padding: 20px 0px 70px 40px;
    h2 {
      font-family: 'jaldi', sans-serif;
      font-weight: bold;
      padding-bottom: 20px;
    }
    p {
      text-align: justify;
    }
  }
  .rocket-launch {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 115px;
    height: 116px;
  }
  .rocket-launchTwo {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 115px;
    height: 116px;
  }
  .signUpFormSection {
    padding: 15px 10px 15px 10px;
    .btnOtpPassword {
      font-family: 'jaldi', Sans-serif;
        font-size: 15px;
        background-color: #FFFFFF;
        color: #007cbb;
        font-weight: bold;
    }
    .activeBooks {
      fill: #ffffff;
      color: #ffffff;
      background-color: #007cbb;
  }
    .signupImage {
      width: 115px;
      height: 81px;
    }
    .welcomeTitleStudent {
      color: #007cbb;
      font-family: 'jaldi', sans-serif;
    }
    .welcomeTitleTeacher {
      color: #e23522;
      font-family: 'jaldi', sans-serif;
    }
    .alreadyAccount {
      font-size: 16px;
      font-weight: 500;
    }
    label {
      color: #000000;
      font-weight: bold;
      font-family: 'jaldi', sans-serif;
    }
    input {
      outline: 0;
      border-width: 1px;
      border-radius: 5px;
      }
      .studentInput {
        border-color: #007cbb;
      }
      .mentorInput {
        border-color: #e23522;
      }
  }
  // .closeModal {
  //   background-color: lightgray;
  //   border-radius: 50%;
  //   width: 25px;
  //   height: 25px;
  //   display: none;
  //   justify-content: center;
  //   align-items: center;
  // }
}
.loginSignupModal {
  h2 {
    font-family: 'jaldi', sans-serif;
    margin-top: 20px;
  }
  label {
    font-family: 'jaldi', sans-serif;
    color: grey;
    margin-top: 10px;
  }
}
.modalCloseButton {
  display: block;
  position: absolute;
  right: 0px ;
  top: 10px;
  z-index: 1000000;
}
@media screen and (max-width: 992px) {
  .LoginSignupSection {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    .loginGuest {
      display: none;
    }
  }
  .mobileDropdown {
    display: block !important;
  }
  .loginModal {
   
    .signUpFormSection {
      padding: 25px 10px 10px 10px;
      .btnOtpPassword {
        font-size: 10px;
        margin: 5px;
      }
    }
    .signUpContentSection {
      padding: 10px 10px 70px 10px;
    }
  }
}
@media (max-width: 560px){
  .navbar{
     .registerGuest {
      display: none;
    }
    // .registerDropdown{
    //   display: block;
    // }
  }
  .navbar-brand{
    img{
      width: 7rem;
    }
  }
}