#container{
    margin: 30px 20px 20px 20px;
}

#heading{
    background-color: #3d99fc;
    font-size: x-large;

}

.correctmcq {
    background: rgb(18, 182, 86);
}

#badge{
    min-width: 10vw;
    min-height: 40px;
    background: rgb(18, 182, 86);
    padding:10px 0 10px 0;
    margin:20px 0 0 0;
}

#list{
    min-width: 100%;
    margin: 15px 0 15px 0; 
}