.footerWebsite{
  .scrollToTopBtn {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 10000;
  }
    .footer {
        background-color: #057fb7;
        padding: 20px 70px;
        .gplay {
          width: 210px;
          height: 81px;
        }
        .footerLogo {
          // width: 273px;
          height: 90px;
          margin-top: 10px;
        }
        .line {
          border-left: 4px solid #ffffff;
          height: 25px;
        }
        .lineDiv {
          display: flex;
          margin-bottom: 10px;
          h2 {
            color: #ffffff;
            font-family: "Jaldi";
            font-size: 20px;
            margin-left: 10px;
            letter-spacing: 1px;
          }
        }
        ul {
          list-style-type: none;
          li {
            padding: 6px 0px;
            color: #ffffff;
            font-size: 18px;
            font-family: "Jaldi";
            letter-spacing: 1px;
            border-bottom: 1px solid #e9e9e9;
          }
          a{
            padding: 6px 0px;
          color: #ffffff;
          font-size: 18px;
          font-family: "Jaldi";
          letter-spacing: 1px;
          
          }
        }
        .iconDiv {
          width: 40px;
          height: 40px;
          border: 1px solid #e9e9e9;
          margin-right: 15px;
          border-radius: 2px;
          display: flex;
          justify-content: center;
          align-items: center;
          .fa {
            color: #ffffff;
            font-size: 21px;
          }
        }
        .phn {
          font-weight: bold;
          // line-height: 1.4;
          font-size: 17px;
          font-family: "Jaldi";
          color: #ffffff;
          letter-spacing: 1px;
        }
        .phnNumber {
          // line-height: 1.4;
          font-size: 18px;
          font-family: "Jaldi";
          color: #ffffff;
          letter-spacing: 1px;
          a {
            font-size: 18px;
            font-family: "Jaldi";
            color: #ffffff;
            letter-spacing: 1px;
          }
        }
        .phnEmail {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          margin-top: 5px;
        }
        .socialIcons {
          display: flex;
          padding-top: 10px;
        }
        .socialIcons > a {
          background-color: #ffffff;
          color: #0066bf;
          width: 55px;
          height: 55px;
          margin: 3px;
          border-radius: 2px;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.3s ease;
        }
        .socialIcons > a:hover {
          transform: rotate(360deg);
        }
        .socialIcons {
          .twitter:hover {
            color: #46d4fe !important;
            border-color: #46d4fe !important;
          }
          .facebook:hover {
            color: #37589b !important;
            border-color: #37589b !important;
          }
          .insta:hover {
            color: red !important;
            border-color: #3f729b !important;
          }
          .linkedin:hover {
            color: #3399cc !important;
            border-color: #3399cc !important;
          }
          .youtube:hover{
            color: red !important;
            border-color: #3399cc !important;
          }
        }
        .copyPrivacy {
          display: flex;
          justify-content: space-between;
          padding-top: 30px;
          h2 , a {
            font-family: "Jaldi";
            font-size: 16px;
            color: #ffffff;
          }
          a:hover {
            text-decoration: underline;
          }
        }
      }
}
@media screen and (max-width:760px){
    .footerWebsite{
        .footer {
            padding: 20px 15px;
            .lineDiv {
              margin-top: 20px;
            }
          }
    }
}