@mixin social-icons {
  color: White;
  padding: .5rem 2rem;
  border-radius: 2rem;
  text-align: center;
}

.facebook {
  background-color: #3c5a99;
  width: 10rem;
  @include social-icons
}

.google {
  background-color: #f14337;
  width: 10rem;
  @include social-icons
}


@media (max-width: 480px) {
  .facebook {
    margin-left: .5rem !important;
  }

  .social-login {
    a {
      font-size: 80%;
    }
  }
}
