<div class="container page_content">
       
    <div id="table">
        <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Name</th>
                <th>Head</th>
                <th>Head Contact</th>
                <th>Email</th>
                <th>Website</th>
                <th>City</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let institute of institutes">
                <td>
                   <strong>{{institute?.name}}</strong> 
                </td>
                <td>{{institute?.head}}</td>
                <td>{{institute?.head_contact_no}}</td>
                <td>{{institute?.email}}</td>
                <td>{{institute?.website}}</td>
                <td>{{institute?.city_details?.name}}</td>
              </tr>
            </tbody>
          </table>
    </div>
    
    </div>