<div class="container page_content">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" placeholder="Add Topic Title" #title1="ngModel" [ngModel]="title">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" rows="10" #description1="ngModel" [ngModel]="description" placeholder="Add Topic Description"></textarea>
    </div> 
    <div class="form-group">
      <label for="order">Topic Order</label>
      <input type="text" class="form-control" #order1="ngModel" [ngModel]="order" placeholder="order">
    </div>
    <button type="button" class="btn btn-primary" id="std">SAVE</button>
  </div>


  