.test-title {
    font-size: 1.2rem;
    color: white;
}

.card {
    background: linear-gradient(135deg, #3F51B5 0%, #31a4ff 100%);
    box-shadow: 0.2rem 0.2rem 1rem rgba(49, 164, 255, 0.4) !important;
}
