<div class="container page_content">
  <h1 style="text-align: center;"><b>{{examDetails?.exam?.title}}</b></h1>
    <p style="color:cornflowerblue;font-size: small;"> &nbsp;&nbsp;>>&nbsp;View Mock Paper Parameters</p>
    <hr>
    <button type="button" class="btn btn-primary" id="std" routerLink="/institute/make-paper/{{examId}}" [queryParams]="{type: 'paper'}">CREATE MOCK PAPER PARAMETERS</button>&nbsp;
    <button *ngIf="examDetails" (click)="deleteMockParameters()" type="button" class="btn btn-danger" id="std">DELETE PAPER PARAMETERS</button>
<div id="table">
    <b>Difficulty Level: </b>{{examDetails?.difficulty_level}} <br>
    <b>Show Time: </b>{{examDetails?.show_time}}
    <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Subject</th>
            <th>Chapters</th>
            <th>Question Types</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let subject of subjectDetails">
            
            <td>
              {{subject.subject.title}}
            </td>
            <td>
              <ul>
                  <li *ngFor="let chapter of subject?.chapters">
                      <p>{{chapter?.title}}</p>
                  </li>
              </ul>
            </td>
            <td>
              <ul>
                  <ng-container *ngFor="let type of quesTypeDetails">
                      <span *ngIf="type?.subject?.id == subject?.subject?.id">
                        <li>
                            <b>Question Type: </b>{{type?.type_of_question}}<br>
                            <b>Total Questions: </b>{{type?.total_questions}}<br>
                            <b>Total Time: </b>{{type?.total_time}}<br>
                        </li>
                      </span>
                  </ng-container>
              </ul>
          </td>
          </tr>
        </tbody>
      </table>
</div>

</div>