<div class="container page_content">
  <h1 style="text-align: center;"><b>{{examDetails?.title}}</b></h1>
    <p style="color:cornflowerblue;font-size: small;"> &nbsp;&nbsp;>>&nbsp;Manage Grade</p>
    <hr>
    <button type="button" class="btn btn-primary" id="std" data-toggle="modal" data-target=".bd-example-modal-sm">MANAGE GRADE</button>
    <br>
    <div class="row">
      <div class="col-md-12">
    
<div id="table">
    <table class="table table-bordered table-responsive">
        <thead class="thead-dark">
          <tr>
            <th>Type</th>
            <th>Low</th>
            <th>High</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
                Excellent
            </td>
            <td>
                {{excellent_low}}
            </td>
            <td>
                {{excellent_high}}
            </td>
            <td>
                <button type="button" (click)="fetchDetails('excellent')" class="btn btn-warning btn-sm" data-toggle="modal" data-target=".bd-example-modal-sm2">EDIT</button>
               
            </td>
          </tr>
          <tr>
            <td>
                Average/ Good
            </td>
            <td>
                {{average_low}}
            </td>
            <td>
                {{average_high}}
            </td>
            <td>
                <button type="button" (click)="fetchDetails('average')" class="btn btn-warning btn-sm" data-toggle="modal" data-target=".bd-example-modal-sm2">EDIT</button>
               
            </td>
          </tr>
          <tr>
            <td>
                Poor
            </td>
            <td>
               
            </td>
            <td>
                Below( {{poor}} )
            </td>
            <td>
                <button type="button" (click)="fetchDetails('poor')" class="btn btn-warning btn-sm" data-toggle="modal" data-target=".bd-example-modal-sm2">EDIT</button>
               
            </td>
          </tr>
        </tbody>
      </table>
</div>
</div>
</div>
</div>


<div class="modal fade bd-example-modal-sm2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Edit <span>Grading Pattern</span></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeModalEdit>
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           
            <div *ngIf="selectedType != 'poor'" class="form-group">
                <label for="exampleInputPassword1">Low Percentage</label>
                <input type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="editLow" placeholder="Enter low percentage">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">High Percentage</label>
              <input type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="editHigh" placeholder="Enter high percentage">
          </div>
            <div>
              <button type="button" (click)="edit()" class="btn btn-success">SAVE</button>
            </div>
          </div>
      </div>
    </div>
  </div>
  