<div class="pYq container">
    <h2 class="text-center topHeading"> Previous Year PAPERS
    </h2>
    <div class="totalUser">
        <div><span><button class="btn btn-sm btnLeaderboard" routerLink="/organization/mypath/{{batchId}}/{{examId}}"><i class="fas fa-angle-double-left mr-1"></i>Exam Overview</button></span></div>
        <div><span><a href="" routerLink="/organization/choose-p/{{batchId}}/{{examId}}">{{examDetails?.title}}</a></span></div>
        <div><span>Total Users : {{totalusers}}</span></div> 
    </div>
    <div>
      <hr>
    </div>
    <div class="col-md-12 d-flex justify-content-center mt-5" *ngIf="spinner">
        <div class="lds-default"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
      </div>
    <div class="container" *ngIf="!spinner">
        <div class="row">
            <div class="col-md-6 mb-3" *ngFor="let paper of papers; let i = index">
                <div class="card h-100">
                    <div>
                        <!-- <h4>Paper - {{i+1}}</h4> -->
                        <h2>{{paper?.title}}</h2>
                    </div>
                    <div class="download">
                        <a href="{{paper?.file}}" target="_blank"><button class="btn btn-sm">Download</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 d-flex justify-content-center" *ngIf="papers.length < 1">
                <h5 class="noPaperFound">No Paper Found</h5>
            </div>
           
        </div>
    </div>
</div>