.body{
    padding: 30px;
}

#click{
    background: rgb(18, 182, 86);
    color:white;
    font-size:small;
    margin: 10px 0 10px 0;
    padding: 10px 25px 10px 25px;
}

#crte{
text-align: center;}