#sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 100;
    color: #fff;
    transition: all ease-in-out 0.8s;
    -webkit-transition: all ease-in-out 0.8s;
     -moz-transition: all ease-in-out 0.8s;
     -o-transition: all ease-in-out 0.8s;
     -ms-transition: all ease-in-out 0.8s;
    // background: #2f3e4d;
    background-color: #048ADF;
    overflow-y: scroll;
    overflow-x: hidden;
}

#content {
    // width: calc(100% - 300px);
    // min-height: 100vh;
     transition: all ease-in-out 0.8s;
    //  position: absolute;
    // top: 0;
    background-color: #F5F4F4;
    right: 0;
    margin-top: 97px;
}

.active {
    width: 100% !important;
}

.inactive {
    width: 0 !important;
}

@media (max-width:768px) {
    #sidebar {
        width: 250px;
    }
}
@media screen and (max-width:760px){
    #content{
        margin-top: 115px;
    }
}