<div class="container-fluid body">
    <div class="blog-head">
        <h2 class="text-uppercase text-center head">Create New Notification</h2>
        <!-- <button class="btn btn-primary my-3 my-md-0" (click)="goBack()">Back to Forum</button> -->
    </div>
    <div class="formContainer">
        <form [formGroup]="createBlog" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>Subject</label>
                <input maxlength="50" [class.is-invalid]="title?.touched && title?.invalid" formControlName="title" type="text" class="form-control">
                <div *ngIf="title?.touched && title?.invalid">
                    <!-- <small *ngIf="title?.errors?.required" class="text-danger">Subject is required</small> -->
                    <small *ngIf="title?.errors?.pattern" class="text-danger">Subject is required</small>
                    <small *ngIf="title?.errors?.minlength && !title?.errors?.pattern" class="text-danger">Subject must be of minimum 4 characters</small>
                    <small *ngIf="title?.errors?.maxlength" class="text-danger">Subject must be less than 50 characters</small>
                </div>
            </div>
            <div class="form-group">
                <label for="image"> Upload Image </label>
                <input #fileInput (change)="readURL($event)" type="file" class="form-control" id="imageFile">
            </div>

            <div class="form-group">
                <label>School</label>
                <select class="form-control" name="school" formControlName="school">
                    <option value="" selected disabled hidden>Please Select School</option>
                    <option [value]="school?.id" *ngFor="let school of schools">{{school?.name}}</option>
                </select>
            </div>

            <div class="form-group">
                <label>Body</label>
                <textarea maxlength="2500" rows="7" [class.is-invalid]="body?.touched && body?.invalid" formControlName="body" type="text" class="form-control"></textarea>
                <div *ngIf="body?.touched && body?.invalid">
                    <small *ngIf="body?.errors?.required" class="text-danger">Body is required</small>
                    <small *ngIf="body?.errors?.pattern" class="text-danger">Body is required</small>
                    <small *ngIf="body?.errors?.minlength && !body?.errors?.pattern" class="text-danger">Body must be of 10 char</small>
                    <small *ngIf="body?.errors?.maxlength" class="text-danger">Body must be less than 2500 char</small>
                </div>
            </div>
            <!-- <div class="form-group">
                <label>Author</label>
                <input [class.is-invalid]="author?.touched && author?.invalid" formControlName="author" type="text" class="form-control">
                <div *ngIf="author?.touched && author?.invalid">
                    <small *ngIf="author?.errors?.required" class="text-danger">author is required</small>
                    <small *ngIf="author?.errors?.minlength" class="text-danger">author must be of 10 char</small>
                    <small *ngIf="author?.errors?.forbiddenName" class="text-danger">{{author?.errors?.forbiddenName.value}} author not allowed</small>
                </div>
            </div> -->

            <button [disabled]="!createBlog.valid || submitStatus" class="btn btn-primary" type="submit">Create</button>
        </form>
    </div>
</div>