.container{
    font-family: CenturyGothicRegular;
    h2{
        font-size: 25px;
        font-weight: bold;
        span{
            color: #048adf;
        }
    }
}
.myPaper {
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    
    h3 {
        font-size: 17px;
        font-weight: bold;
        span {
            font-weight: normal;
        }
    }
    h4 {
        font-size: 14px;
        font-weight: bold;
        span {
            font-weight: normal;
        }
    }
    h5 {
        font-size: 13px;
    }
    .card-link {
        border-radius: 20px;
    }
    .btnShare {
        background-color: #c9c7c7;
        width: 100px;
    }
    .close{
        font-size: 25px;
        position: absolute;
        top: -10px;
        left: -10px;
        cursor: pointer;
    }
}