label {
    width: 100%;
    font-weight: bold;
    color: black;
    font-family: CenturyGothicRegular;
}
hr { display: block; height: 1px;
    border: 0; border-top: 2px solid #FFFFFF;
    margin: 1em 0; padding: 0; }

.form-control {
    margin-top: .5rem;
}
.change-password-section{
    // font-family: CenturyGothicRegular;
    min-height: 100vh;
    .btnChangePassword{
        background-color: #057DDC;
        color: #FFFFFF;
        border-radius: 10px;
    }
    .form-control {
        // border: 0.06rem solid #e6e7e8;
        border-radius: .2rem;
        margin-top: -.1rem;
        color: black;
        border: 5px solid orange;
        border-top: none;
        border-bottom: none;
        border-right: none;
        height: 50px;
    }
    
    ::-webkit-input-placeholder {
        text-align: center;
        color: #DCDCDC;
     }
     
     :-moz-placeholder { /* Firefox 18- */
        text-align: center;
        color: #DCDCDC;  
     }
     
     ::-moz-placeholder {  /* Firefox 19+ */
        text-align: center;
        color: #DCDCDC;  
     }
     
     :-ms-input-placeholder {  
        text-align: center;
        color: #DCDCDC; 
     }
    h2{
        font-size: 35px;
        font-weight: bold;
        font-family: GOTHICB;
        span{
        color: #048adf;
        }
    }
    label{
        margin-top: 15px;
    }
    .btn-success{
        border-radius: 20px;
    }
}