.goalPathContainer {
  min-height: 100vh;
  padding-top: 22px;
  padding-bottom: 120px;
  .leftSection {
    background-color: #FFFFFF;
    .col-md-12 {
      padding-left: 0px;
      padding-right: 0px;
    }

    .topAndBottomScroll {
      display: flex;
      justify-content: space-between;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      padding: 10px;
      margin-bottom: 10px;
      a {
        border: 1px solid #333333;
        padding: 8px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #333333;
      }
    }
    .topAndBottomScrollSecond {
      display: flex;
      justify-content: space-between;
      box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
      padding: 10px;
      margin-top: 10px;
      a {
        border: 1px solid #333333;
        padding: 8px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #333333;
      }
    }
    .pathListDiv {
      height: 90vh;
      // overflow-x: hidden; /* Hide horizontal scrollbar */
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      scroll-behavior: smooth;
      margin: 0 6px;
    }
   
  
  .pathListDiv::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .pathListDiv {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

    .startDate {
      font-family: "jaldi", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.75px;
      color: #333333;
      span {
        font-size: 14px;
        line-height: 17px;
        color: #9c9c9c;
      }
  }
  .pathCard {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 13px;
    border: none;
    border-radius: 3px;
    background-color: #FFFFFF;
    margin-bottom: 15px;
    .goalName {
      font-family: "jaldi", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.75px;
      color: #333333;
      span {
        font-size: 14px;
        line-height: 17px;
        color: #9c9c9c;
      }
    }
    .otherDetails {
      font-family: "jaldi", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.75px;
      color: #34529f;
    }
    .progressBarDiv {
      display: flex;
      align-items: center;
      margin-top: 16px;
      h2 {
        font-family: "jaldi", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 24px;
        color: #333333;
      }
      .progress {
        width: 100%;
        margin-left: 18px;
        border-radius: 8px;
        .progress-bar {
          width: 35%;
        }
      }
    }
  }

  }
  .examTitle {
    color: #000000;
    font-family: "Jaldi", Sans-serif;
    font-size: 3em;
    line-height: 1em;
    letter-spacing: 0px;
    font-weight: bold;
    span {
      color: #007bba;
    }
  }
  .headerPath {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    h2 {
      font-family: "jaldi", sans-serif;
      font-size: 18px;
      font-weight: bold;
      span {
        font-weight: normal;
      }
    }
    h3 {
      font-family: "jaldi", sans-serif;
      color: #27ae60;
      font-size: 18px;
      font-weight: bold;
    }
  }
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #ffffff;
    margin: 0 0 1em 0;
    padding: 0;
  }
  :focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  }
  .checkedTick {
    color: #27ae60;
  }
  .uncheckedTick {
    color: #a09c9c;
  }

  #target {
    scroll-margin-top: 250px !important;
  }
  a {
    text-decoration: none;
  }
  .assessment {
    font-family: "jaldi", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #666666;
    display: flex;
    align-items: end;
    img {
      margin-right: 5px;
    }
  }
  .breadcrumb {
    background-color: #f5f4f4;
    padding: 0px !important;
    margin: 7px 0px 15px 0px !important;
    a {
      color: #007cbb;
      font: {
        size: 18px;
        // weight: bold;
      }
      font-family: "jaldi";
    }
    a:hover {
      text-decoration: underline;
      color: #1b50a3;
    }
    span {
      color: #808180;
      font: {
        size: 18px;
        // weight: bold;
      }
      font-family: "jaldi";
    }
  }
  .breadcrumb > li + li:before {
    color: #808180;
    content: ">>";
    // font-weight: bold;
    padding: 2px 5px 2px 2px;
  }

  .goalsList {
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 0 0 10px 0;
    .tabsHeading {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .nav-pills .nav-link {
    img {
      width: 25px;
      height: auto;
      margin-right: 7px;
    }
    span {
      margin-top: 4px;
    }
  }
  .nav-pills .nav-link {
    color: #777777;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    font-family: "jaldi", sans-serif;
    background: rgba(156, 156, 156, 0.21);
    .progress {
      background: #ffffff;
    }
  }
  .nav-pills .nav-link.active {
    background: transparent;
    border-radius: 0px;
    border-bottom: 4px solid #007cbb;
    font-family: "jaldi", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    .progress {
      background: #ededed;
    }
  }
  #accordion,
  #accordionr {
    .card {
      margin: 5px 10px 10px 10px;
      background: #ffffff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border: none;
      .card-header {
        background: #ffffff;
        border: none;
        border-left: 4px solid #27ae60;
        border-top: 0;
        border-right: 0;
        border-bottom: 0;
      }
      .card-body {
        padding: 0 45px 0 45px;
      }
    }
    .chapterName {
      font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.75px;
        color: #9c9c9c;
        font-family: "jaldi", sans-serif;
        font-style: normal;
        text-align: left;
      span {
        font-weight: 700;
        font-size: 24px !important;
        text-align: initial;
        letter-spacing: 0.75px;
        color: #333333;
      }
    }
    .firstPathMsg {
      font-family: 'jaldi', sans-serif;
      text-align: center;
      font-size: 18px;
      margin-top: 10px;
      color: #007bba;
      font-weight: 700;
    }
    .card-header {
      a, .practiceTab {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .doneTag {
          font-family: "jaldi", sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 17px;
          letter-spacing: 0.75px;
          color: #333333;
          display: flex;
          align-items: center;
          img {
            margin-right: 5px;
          }
          .fa-angle-up , .fa-angle-down {
            color: #000000;
            font-size: 20px;
            margin-left: 7px;
          }
          .fa-check-circle {
            color: #27ae60;
          }
        }
      }
    }
    .listOfTopics {
      .topicHeading {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        font-family: "jaldi", sans-serif;
        line-height: 17px;
        letter-spacing: 0.75px;
        color: #777777;
        margin-bottom: 7px;
      }
      ul {
        list-style-type: none;
        li {
          font-family: "jaldi", sans-serif;
          letter-spacing: 0.75px;
          font-size: 18px;
        }
        .hrLineList {
          display: block;
          height: 1px;
          border: 0;
          border-top: 0.3px solid #e6e1e1;
          margin: 0 0 0 0;
          padding: 0;
        }
      }
    }
  }
  .progressBarDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-top: 16px;
    h2 {
      font-family: "jaldi", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
    }
    .progress {
      width: 125px;
      margin-left: 18px;
      border-radius: 20px;
      .progress-bar {
        width: 35%;
      }
    }
  }
  .assessmentBtn {
    position: fixed;
    background-color: #f5f4f4;
    -webkit-box-shadow: 0px -4px 3px rgba(221, 221, 221, 0.75);
    -moz-box-shadow: 0px -4px 3px rgba(221, 221, 221, 0.75);
    box-shadow: 0px -4px 3px rgba(221, 221, 221, 0.75);
    height: 100px;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    .container {
      display: flex;
      justify-content: end;
      align-items: center;
      .btn {
        width: 294px;
        height: 50px;
        border: 1px solid #007bba;
        border-radius: 28px;
        font-family: "jaldi", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #007bba;
        text-transform: capitalize;
      }
    }
  }
}

.SecondSection {
  min-height: 100vh;
  padding-top: 22px;
  padding-bottom: 20px;
  input[type="text"] {
    background: transparent;
    border: none;
    text-align: center;
  }

  input[type="number"] {
    background: transparent;
    border: none;
    text-align: center;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  .paperCard {
    h2 {
      color: #000000;
      font-size: 3em;
      font-weight: 600;
      margin-bottom: 5px;
      font-family: "Jaldi";
      text-align: center;
      // margin-top: -15px;
      span {
        color: #007bba;
        font-weight: 700;
      }
    }
    .btnLeaderboard {
      padding: 0;
      font-family: "jaldi", Sans-serif;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      color: #007bba;
      background-color: rgba(0, 0, 0, 0);
    }
    .totalUser {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      color: #18181b;
      font-family: "jaldi", Sans-serif;
      font-size: 1.2em;
      font-weight: 300;
      line-height: 1.545em;
      letter-spacing: 0px;
      a {
        color: #1b50a3;
        font-size: 1.2em;
        font-weight: bold;
        margin: 0 7px;
        font-family: "jaldi", Sans-serif;
      }
    }
    h4 {
      font-family: "jaldi";
      float: right;
      color: #666766;
      font-size: 20px;
    }
    hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 2px solid #ffffff;
      margin: 0 0 1em 0;
      padding: 0;
    }
    .btnReset {
      background-color: #fefefe;
      border: 2px solid #d6d6d6;
      font-family: "jaldi";
      font-size: 23px;
      width: 125px;
      font-weight: bold;
      position: absolute;
    }
    .formLabels {
      font-family: "jaldi";
      font-size: 23px;
      .subjects {
        font-size: 16px;
      }
      .fa-caret-down,
      .fa-caret-up {
        color: #01a0e2;
        font-size: 30px;
        cursor: pointer;
      }
      .noOfProblems {
        font-family: "jaldi";
        font-weight: normal;
      }
    }
    .startPaperButton {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 50px;
      h4 {
        font-family: "jaldi" !important;
        color: #000000 !important;
        font-size: 35px !important;
        font-weight: bold;
      }
      .resetAndProceed {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .btnResets {
          line-height: 1.5em;
          letter-spacing: 3.2px;
          fill: #ffffff;
          color: #ffffff;
          background-color: #ff4935;
          border-radius: 50px 50px 50px 50px;
          box-shadow: 0px 2px 0px 0px #fff900;
          width: 175px;
          height: 50px;
        }
        .btnResets:hover {
          background-color: #007bba;
        }
        .btnProceeds {
          line-height: 1.5em;
          letter-spacing: 3.2px;
          fill: #ffffff;
          color: #ffffff;
          background-color: #007bba;
          border-radius: 50px 50px 50px 50px;
          box-shadow: 0px 2px 0px 0px #fff900;
          width: 175px;
          height: 50px;
          margin-right: 20px;
        }
        .btnProceeds:hover {
          background-color: #ff4935;
        }
      }
    }
    .topDiv {
      display: flex;
      margin-top: 10px;
      flex-wrap: wrap;
      align-items: baseline;
      .firstDiv {
        label {
          color: #000000;
          font-family: "Jaldi", Sans-serif;
          font-size: 1.4em;
          font-weight: 500;
          line-height: 1.278em;
          letter-spacing: 0px;
        }
      }
      .secondDiv {
        width: 19px;
        label {
          color: #000000;
          font-family: "Jaldi", Sans-serif;
          font-size: 1.6em;
          font-weight: 500;
          line-height: 1.278em;
          letter-spacing: 0px;
        }
      }
      .thirdDiv {
        color: #727272;
        font-family: "Jaldi", Sans-serif;
        font-size: 1.2em;
        font-weight: 400 !important;
        line-height: 1.278em;
        letter-spacing: 0px;
        .laparent {
          label {
            margin-left: 20px;
          }
        }
        .slidecontainer {
          width: 100%;
          padding-top: 10px;
        }
        .yesSpan {
          margin-left: 7px;
        }
        .slider {
          -webkit-appearance: none;
          width: 100%;
          height: 35px;
          border-radius: 7px;
          // background: #d3d3d3;
          background: rgb(57, 207, 48);
          background: linear-gradient(
            90deg,
            rgba(57, 207, 48, 1) 0%,
            rgba(248, 253, 2, 1) 40%,
            rgba(228, 63, 35, 1) 100%
          );
          outline: none;
          // opacity: 0.7;
          -webkit-transition: 0.2s;
          transition: opacity 0.2s;
        }

        .slider:hover {
          opacity: 1;
        }

        .slider::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 20px;
          height: 45px;
          // background: #04AA6D;
          background-color: #666568;
          cursor: pointer;
        }

        .slider::-moz-range-thumb {
          width: 20px;
          height: 35px;
          // background: #04AA6D;
          background-color: #666568;
          cursor: pointer;
        }
        .ArrowDown {
          margin-right: 5px;
        }
        .ArrowUp {
          margin-left: 5px;
        }
      }

      .fa-caret-down,
      .fa-caret-up {
        color: #01a0e2;
        font-size: 25px;
        cursor: pointer;
      }
      .fa-caret-down {
        margin-right: 15px;
      }
      .fa-caret-up {
        margin-left: 15px;
      }
      ul {
        list-style-type: none;
      }
    }
  }
}
.selected {
  color: #ffffff !important;
  background-color: #007bba !important;
}
.selectedCard {
  background-color: #34529f !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 3px;
  .goalName {
    color: #ffffff !important;
    span {
      color: #ffffff !important;
    }
  }
  .otherDetails {
    color: #ffffff !important;
  }
}
.reportModal {
  .selectDiiffTitle {
    display: flex;
    justify-content: center;
  }
  .modal-content {
    border-radius: 15px;
  }
  label {
    color: #000000;
    font-family: "jaldi", sans-serif;
  }
  .diffTitle {
    font-size: 25px;
  }
  .modal-header {
    background-color: rgb(250, 244, 244);
    border-radius: 15px 15px 0 0;
  }
  .modal-title {
    font-family: "jaldi", sans-serif;
    font-size: 25px;
    font-weight: 600;
    span {
      color: #007bba;
    }
  }
  .btn-group {
    flex-wrap: wrap;
    display: flex;

    justify-content: space-between;
    .btn {
      padding: 7px 0px;
      font-family: "jaldi", Sans-serif;
      font-size: 18px;
      font-weight: 800;
      background-color: #ffffff;
      border-style: solid;
      border-width: 1px 1px 1px 1px;
      border-radius: 50px 50px 50px 50px;
      box-shadow: 19px 19px 40px 0px rgb(0 0 0 / 10%);
      width: 100px;
    }
    .reportReasonEasy {
      color: #04c604;
      border-color: #04c604;
    }
    .reportReasonEasy:hover {
      color: #ffffff;
      background-color: #07ac1e;
      border-color: #eaac02;
    }
    .reportReasonMedium {
      color: #ffcc03;
      border-color: #ffcc03;
    }
    .reportReasonMedium:hover {
      color: #ffffff;
      background-color: #ffcc03;
      border-color: #eaac02;
    }
    .reportReasonHard {
      color: #ff1900;
      border-color: #ff1900;
    }
    .reportReasonHard:hover {
      color: #ffffff;
      background-color: #ff1900;
      border-color: #eaac02;
    }
    .reportReasonAny {
      color: #007bba;
      border-color: #007bba;
    }
    .reportReasonAny:hover {
      color: #ffffff;
      background-color: #007bba;
      border-color: #eaac02;
    }
  }
  textarea {
    height: 150px;
  }
  .btnChooseDiff {
    display: flex;
    justify-content: center;
  }
  .btnReport {
    padding: 8px 0px;
    font-family: "jaldi", Sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ff4935;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #ffcc03;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 19px 19px 40px 0px rgb(0 0 0 / 10%);
    width: 125px;
    .fa {
      margin-left: 5px;
    }
  }
  .btnReport:hover {
    background-color: #007bba;
  }
}
@media screen and (min-width: 800px) {
  .SecondSection {
    .paperCard {
      .topDiv {
        .firstDiv {
          width: 40%;
        }
        .secondDiv {
          width: 100px !important;
        }
        .thirdDiv {
          width: 40%;
          .custom-control-label::before {
            width: 17px;
            height: 17px;
          }
          .custom-control-label::after {
            width: 17px;
            height: 17px;
          }
          label.custom-control-label {
            padding-right: 2.5rem !important;
          }
          #showTime {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }
}
