.card-img {
  height: 8rem;
  overflow: hidden;
}

.my-packages {

  .card {
    box-shadow: 0px 0px 1px 0px rgba(20, 23, 28, 0.1), 2px 2px 3px 0 rgba(20, 23, 28, 0.1);
  }

  .card,
  .card-header,
  .card-footer {
    background-color: #f8f9fa;
    border-radius: .5rem;
    box-shadow: none !important;
  }

  .card-img-container {
    @extend .card-img
  }

  .test-title {
    color: #616161;
    font-weight: 600;
    font-family: 'Exo 2', sans-serif
  }
}

.start-now {
  border-radius: 5rem;
}

.package-title {
  color: #29303B;
  font-weight: 600;
  font-size: .95rem;
}

@media (max-width: 768px) {

  .column-margin {
    margin-bottom: .5rem !important;
  }

  .my-packages {

    .detail-1 {
      padding: 0;
    }

    .card {
      flex-direction: column !important;
      align-items: flex-start !important;
      width: auto;
      border-radius: .2rem;
    }

    .card-footer {
      width: 100%;
    }
  }

  .start-now {
    padding: .375rem .75rem;
    border-radius: 0.2rem;
  }
}
