.login {
    background-image: url("../../../../assets/danger1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid{
    margin-top: 0px;
}

.login-submit {
    background-color: seagreen;
    color: white;
}
