<hr class="seprator mt-0">
<div class="footer">

  <!-- Secondary Footer - Important Links -->
  <div class="row footer-menu justify-content-between">
    <div class="col-md-9 imp-links">
      <ul class="list-unstyled d-flex flex-wrap justify-content-center align-items-center page-links">
        <li>
          <a routerLink="/page/about">About Us</a>
        </li>
        <div class="seprator"></div>
        <li>
          <a routerLink="/page/terms-of-use">Terms of Use</a>
        </li>
        <div class="seprator"></div>
        <li>
          <a routerLink="/page/privacy-policy">Privacy Policy</a>
        </li>
        <div class="seprator"></div>
        <li>
          <a routerLink="/blogs">Blogs</a>
        </li>
        <!-- <div class="seprator"></div>
        <li>
          <a routerLink="/page/faq">FAQ</a>
        </li> -->
        <div class="seprator"></div>
        <li>
          <a routerLink="/contact-us">Contact Us</a>
        </li>
        <div class="seprator"></div>
        <li>
          <a routerLink="/register/institute">Register As Instructor</a>
        </li>
        <!-- <div class="seprator"></div>
        <li>
          <a routerLink="/register/organization">Register As Organization</a>
        </li> -->
      </ul>
    </div>
    <div class="col-md-3">
      <div class="d-flex align-items-center justify-content-end h-100 social">
        <a href="" class="text-white ml-4">
          <i class="fa fa-youtube-square"></i>
        </a>
        <a href="" class="text-white ml-4">
          <i class="fa fa-linkedin-square"></i>
        </a>
        <a href="" class="text-white ml-4">
          <i class="fa fa-google-plus-square"></i>
        </a>
        <a href="" class="text-white ml-4">
          <i class="fa fa-facebook-square"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="copyright text-center">
    <p class="p-3 mb-0">Copyright <i class="fa fa-copyright" aria-hidden="true"></i> Er-Dr 2021</p>
  </div>
</div>

<!-- REGISTRATION MODAL -->
<ng-template #registerModal>
  <app-register></app-register>
</ng-template>